<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Plz Register</h1>
    <form action="/register" method="post">
        Name : <input type="text" name="userFname" id="">
        <br>
        Last : <input type="text" name="userLname" id="">
        <br>
        Email : <input type="text" name="email" id="">
        <br>
        Password : <input type="text" name="userPassword" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>